<div class="left wide">
  <div class="box">
    <h1>This is an h1</h1>
    <h2>This is an h2</h2>
    <p>This is a paragraph <a href="#">link</a></p>
    <form>
      <label>Label: </label>
      <input type="text" value="input">
      <button>Button</button>
    </form>
    <ul>
      <li>This is a list item</li>
      <li>This is a list item</li>
      <li>This is a list item</li>
    </ul>
  </div>
  <div class="box">
  </div>
</div>

<div class="rule-right"></div>

<div class="right bar">
  <div class="box">
  </div>
  <div class="box">
  </div>
</div>
