<div class="box">
  <h1>Filter</h1>
  <ul class="filter-list small">
    <% filterList.forEach(function (item){ %>
      <li><a href="javascript:void(0);"><%= item %></a></li>
    <% }); %>
  </ul>
  <p><a class="subtext" href="javascript:void(0);">Show all</a></p>
</div>
