  <h1 class="capitalize"><%= category %></h1>
  <div id="sticky-trigger"></div>
  <div id="sticky-cont">
    <div class="box" id="sticky mapbox">
      <div id="bar-map" <%= filter === 'liquor' ? "class='wide-map'" : "" %>>
      </div>
      <% if(filter === 'bar'){ %>
        <h3><%= cocktails[0].bar().address %></h3>
        <div class="bar-info">
        </div>
      <% }; %>
    </div>
  </div>
  <div class="box">
    <ul class="category-show-list clearfix">
      <% cocktails.forEach( function (cocktail, idx){ %>
        <%= JST['cocktails/_categoryShowItem']({cocktail: cocktail, standalone: false, index: idx}) %>
      <% }) %>
    </ul>
  </div>
