<div class="left wide">
  <% cocktails.each(function (cocktail){ %>
  <div class="box">
    <h1><%= cocktail.escape('name') %></h1>
    <h3>at <%= cocktail.bar().name %></h3>
    <h2><%= cocktail.escape('liquor') %></h2>
    <p><%= cocktail.escape('ingredients') %></p>
  </div>
  <% }); %>
</div>

<div class="rule-right"></div>

<div class="right bar">
  <div class="box">
  </div>
  <div class="box">
  </div>
</div>
