<div class="left wide">
  <h1 class="capitalize">Heat Map</h1>

  <div id="sticky-trigger"></div>
  <div id="sticky-cont">
    <div class="box" id="sticky">
      <div id="bar-map" class='wide-map'></div>
    </div>
  </div>

  <div class="box">
    <h2>Latest additions</h2>
    <ul class="category-show-list clearfix">
      <% for(var i = 0; i < latest.length; i++){ %>
        <% var cocktail = latest[i]; %>
        <%= JST['cocktails/_categoryShowItem']({cocktail: cocktail, standalone: false}) %>
      <% }; %>
    </ul>
  </div>
</div>

<div class="rule-right"></div>

<div class="right bar">

</div>
