<div id="signinbox" <%= displayed ? "" : "class='exit'" %> >
  <h1>Log In</h1>
  <p>Don't have an account? <a href="#users/new" class="switch">Sign up.</a></p>
  <form>
    <input type="text" placeholder="email" name="user[email]">
    <input type="password" placeholder="password" name="user[password]">
    <button>Log In</button>
    <a href="/auth/facebook" class="button-link">Facebook Login</a>
  </form>
  <div class="flashbox">
    <p class="subtext">Can use guest accounts of <strong>guest@aa.io</strong>, <strong>guest2@aa.io</strong>, <strong>guest3@aa.io</strong>, <strong>guest4@aa.io</strong>.
      Take your pick! Password is "password".</p>
  </div>
</div>
