<div id="signinbox" <%= displayed ? "" : "class='exit'" %> >
  <h1>Log In</h1>
  <p>Don't have an account? <a href="#users/new" class="switch">Sign up.</a></p>

  <div class="flashbox"></div>
  <form>
    <input type="text" placeholder="email" name="user[email]">
    <input type="password" placeholder="password" name="user[password]">
    <button class="block">Log In</button>
    <a href="/auth/facebook" class="block-link">Facebook Login</a>
    <a href="javascript: void(0);" class="block-link guest-login">Login as Guest</a>
  </form>
</div>
