<div id="signinbox" <%= displayed ? "" : "class='exit'" %> >
  <h1>Create an Account</h1>
  <p>Already have an account? <a href="#session/new" class="login">Log in.</a></p>

  <form>
    <input type="text" placeholder="username" name="user[username]">
    <input type="text" placeholder="email" name="user[email]">
    <input type="password" placeholder="password" name="user[password]">
    <button>Sign Up</button>
  </form>

</div>
