/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
@font-face {
  font-family: 'ChaparralPro';
  src: url(/assets/chaparralpro_reg-0818e73a76e7a9dcf7b861ce88daa5203b32b6c58a5bce46677f429e150f7df0.otf) format("otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ChaparralPro';
  src: url(/assets/chaparralpro_bold-97b59c892cc6d566c1d2d6f8c6fd8775b7424ddcf8119bcc180b495cb5f30bd5.otf) format("otf");
  font-weight: bold;
  font-style: normal;
}
/* line 32, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 38, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
body {
  background: url(/assets/contbg-505763470730315fa59dae71195bda95ae861802b9d124f1046cf8d1cb8e762e.jpg);
  font-family: 'ChaparralPro', 'arial', serif;
  font-size: 16px;
  color: white;
}

/* line 45, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
a {
  text-decoration: none;
}

/* line 49, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
ul {
  list-style: inside;
}

/* line 53, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#window {
  height: 100vh;
  position: relative;
}

/* line 58, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#main {
  min-height: 100vh;
  position: relative;
}

/* login page stuff */
/* line 64, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#signinbox {
  width: 300px;
  margin: 0 auto;
  background: white;
  position: relative;
  padding-top: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: black;
}

/* line 75, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#signinbox img {
  margin: 0 auto;
  display: block;
}

/* line 80, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#signinbox p {
  text-align: center;
  margin: 10px;
}

/* line 85, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#signinbox input {
  background: url(/assets/boxbg-d095d3e000d102dd7bcee471e3ff14a5126e2d9c85c4100faeb56226ba33ea61.jpg);
  width: 90%;
  padding: 5%;
  color: white;
  font: 24px 'Montserrat', sans-serif;
}

/* line 93, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#signinbox button {
  width: 100%;
  padding: 5%;
  margin: 0;
  font-size: 24px;
}

/* line 100, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
.flashbox {
  width: 300px;
  background: white;
  padding: 10px;
  position: absolute;
  left: 350px;
  top: 115px;
}

/* header area stuff */
/* line 110, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#header {
  background: white;
  border-bottom: 1px solid #cc8042;
  height: 75px;
  margin-bottom: 25px;
  position: relative;
  color: black;
  font: 18px ChaparralPro, 'Georgia', serif;
}

/* line 120, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#logo {
  float: left;
  padding-top: 23px;
}

/* line 125, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#header .search {
  float: left;
  position: relative;
  border-bottom: 2px solid black;
  width: 150px;
  margin: 52px 0 0 25px;
}

/* line 132, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#header .search input {
  background: transparent;
  color: black;
}

/* line 137, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#header #user-menu {
  float: right;
  margin: 40px 0 0 30px;
  position: relative;
  display: block;
}

/* line 144, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#header #user-menu ul {
  list-style: none;
  display: none;
  position: absolute;
  z-index: 1;
  width: 100px;
  padding: 10px;
  background: white;
  left: -40px;
}

/* line 154, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#header #user-menu ul:after {
  content: "";
  display: none;
  position: absolute;
  top: -10px;
  left: 50px;
  border-bottom: 10px solid white;
  border-top: 0 solid white;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

/* line 166, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#header #user-menu:hover ul {
  display: block;
}

/* line 169, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#header #user-menu:hover ul:after {
  display: block;
}

/* line 173, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#header #nav {
  margin-top: 50px;
  float: right;
  list-style: none;
}

/* line 179, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#header #nav li {
  float: left;
  margin-right: 20px;
}

/* line 184, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#header a, #footer a {
  color: black;
}

/* line 188, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#header a:hover, #footer a:hover {
  color: #cc8042;
}

/* content area stuff */
/* line 193, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#content {
  padding-bottom: 75px;
}

/* line 197, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#content .container {
  position: relative;
}

/* line 201, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#content .left {
  float: left;
}

/* line 205, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#content .right {
  float: right;
}

/* line 209, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#content .wide, #content .bar {
  padding: 25px;
}

/* line 213, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#content .wide {
  width: 625px;
  margin-right: 25px;
}

/* line 218, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#content .bar {
  width: 225px;
}

/* line 222, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#content .box {
  background: url(/assets/boxbg-d095d3e000d102dd7bcee471e3ff14a5126e2d9c85c4100faeb56226ba33ea61.jpg);
  min-height: 200px;
  margin-bottom: 25px;
  padding: 20px;
  line-height: 200%;
}

/* line 229, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#content .box:last-child {
  margin-bottom: 0;
}

/* line 233, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
.wide h1 {
  font: 30px '`Montserrat`', sans-serif;
}

/* line 237, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
.wide h2 {
  font: 24px ChaparralPro, 'Palantino', serif;
}

/* line 241, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
.bar h1 {
  font: 24px 'Montserrat', sans-serif;
}

/* footer area stuff */
/* line 246, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#footer {
  border-top: 1px solid #130503;
  background: white;
  height: 50px;
  color: black;
  bottom: 0;
  position: absolute;
  width: 100%;
}

/* line 256, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#footer * {
  padding-top: 5px;
}

/* line 260, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#footer p {
  float: left;
  font-size: 14px;
}

/* line 265, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#footer a {
  font-size: 24px;
  float: right;
}

/* general classes stuff */
/* line 271, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
.container {
  width: 1000px;
  margin: 0 auto;
  padding: 0 50px;
}

/* line 277, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
[class*="rule-"]:before {
  display: block;
  position: absolute;
  background: #4c311c;
  top: 25px;
  bottom: 25px;
  width: 1px;
  content: "";
}

/* line 286, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
.rule-left:before {
  left: 300px;
}

/* line 289, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
.rule-right:before {
  right: 350px;
}

/* line 293, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
.clearfix:after {
  clear: both;
  display: block;
  content: "";
}

/* tag stuff */
/* line 300, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
button {
  font: 18px 'Montserrat', sans-serif;
  background: black;
  margin: 5px;
  padding: 3px 10px;
  color: white;
  text-transform: lowercase;
  font-variant: small-caps;
}

/* line 310, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
input {
  display: block;
  padding: 3px;
  background: black;
  color: white;
  border-bottom: 1px solid white;
}
