/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
@font-face {
  font-family: 'Montserrat';
  src: url(/assets/montserrat_reg-40fc1142200a5c1c18f80b6915257083c528c7f7fd2b00a552aeebc42898d428.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url(/assets/montserrat_bold-576e5ed13b2a9ee2342b1eb12c9c451b395c1dde816bb2bdf685202085e5eae2.otf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ChaparralPro';
  src: url(/assets/chaparralpro_reg-0818e73a76e7a9dcf7b861ce88daa5203b32b6c58a5bce46677f429e150f7df0.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ChaparralPro';
  src: url(/assets/chaparralpro_bold-97b59c892cc6d566c1d2d6f8c6fd8775b7424ddcf8119bcc180b495cb5f30bd5.otf);
  font-weight: bold;
  font-style: normal;
}
/* line 46, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

/* line 53, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
body {
  background: url(/assets/contbg-505763470730315fa59dae71195bda95ae861802b9d124f1046cf8d1cb8e762e.jpg);
  font: 16px 'ChaparralPro', 'Palatino', serif;
  color: white;
}

/* line 59, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
a {
  text-decoration: none;
}

/* line 63, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
ul {
  list-style: square inside;
}

/* line 67, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#window {
  height: 100vh;
  position: relative;
}

/* line 72, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#main {
  min-height: 100vh;
  position: relative;
}

/* login page stuff */
/* line 78, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#signinbox {
  width: 300px;
  margin: 0 auto;
  background: white;
  position: relative;
  padding-top: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: black;
}

/* line 89, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#signinbox img {
  margin: 0 auto;
  display: block;
}

/* line 94, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#signinbox p {
  text-align: center;
  margin: 10px;
}

/* line 99, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#signinbox input {
  background: url(/assets/boxbg-d095d3e000d102dd7bcee471e3ff14a5126e2d9c85c4100faeb56226ba33ea61.jpg);
  width: 90%;
  padding: 5%;
  color: white;
  font: 24px 'Montserrat', sans-serif;
  opacity: 1;
}

/* line 108, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#signinbox button {
  width: 100%;
  padding: 5%;
  margin: 0;
  font-size: 24px;
}

/* line 114, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#signinbox button:hover {
  background: white;
  color: black;
}

/* line 119, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
.flashbox {
  width: 300px;
  background: white;
  padding: 10px;
  position: absolute;
  left: 350px;
  top: 115px;
}

/* header area stuff */
/* line 129, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#header {
  background: white;
  border-bottom: 1px solid black;
  height: 75px;
  position: relative;
  color: black;
  font: 18px 'ChaparralPro', 'Palatino', serif;
}

/* line 138, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#logo {
  float: left;
  padding-top: 23px;
}

/* line 143, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#header .search {
  float: left;
  position: relative;
  margin: 48px 0 0 25px;
}

/* line 148, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#header .search input {
  font-size: 16px;
  background: transparent;
  border-bottom: 2px solid black;
  width: 150px;
  color: black;
}

/* line 156, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#header #user-menu {
  float: right;
  margin: 40px 0 0 30px;
  position: relative;
  display: block;
}

/* line 163, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#header #user-menu ul {
  list-style: none;
  font-size: 16px;
  display: none;
  position: absolute;
  z-index: 1;
  width: 100px;
  padding: 5px;
  background: white;
  left: -43px;
}

/* line 174, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#header #user-menu ul:after {
  content: "";
  display: none;
  position: absolute;
  top: -10px;
  left: 50px;
  border-bottom: 10px solid white;
  border-top: 0 solid white;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

/* line 185, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#header #user-menu:hover ul,
#header #user-menu:hover ul:after {
  display: block;
}

/* line 190, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#header #user-menu ul li:first-child {
  font-size: 14px;
  color: #aaa;
}

/* line 195, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#header #nav {
  margin-top: 50px;
  float: right;
  list-style: none;
}

/* line 201, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#header #nav li {
  float: left;
  margin-right: 20px;
}

/* line 206, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#header a, #footer a {
  color: black;
}

/* line 210, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#header a:hover, #footer a:hover {
  color: #cc8042;
}

/* content area stuff */
/* line 215, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#content {
  border-top: 1px solid #cc8042;
  padding: 10px 0 60px 0;
}

/* line 220, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#content .container {
  position: relative;
}

/* line 224, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#content .left {
  float: left;
}

/* line 228, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#content .right {
  float: right;
}

/* line 232, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#content .wide, #content .bar {
  padding: 25px;
}

/* line 236, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#content .wide {
  width: 625px;
  margin-right: 25px;
}

/* line 241, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#content .bar {
  width: 225px;
}

/* line 245, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#content .box {
  background: url(/assets/boxbg-d095d3e000d102dd7bcee471e3ff14a5126e2d9c85c4100faeb56226ba33ea61.jpg);
  margin-bottom: 20px;
  padding: 20px;
  line-height: 200%;
}

/* line 252, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#content .header-box {
  background: white;
  color: black;
  padding: 5px 10px;
}

/* line 258, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#content .box .header-box {
  margin-left: -20px;
  margin-right: -20px;
}

/* line 263, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#content .box .header-box a:hover {
  color: black;
}

/* line 267, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
.bar h1 {
  font-size: 24px;
}

/* line 271, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
.bar h2 {
  font-size: 20px;
}

/* footer area stuff */
/* line 275, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#footer {
  border-top: 1px solid #130503;
  background: white;
  height: 50px;
  color: black;
  bottom: 0;
  position: absolute;
  width: 100%;
}

/* line 285, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#footer * {
  padding-top: 5px;
}

/* line 289, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#footer p {
  float: left;
  font-size: 14px;
}

/* line 294, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#footer a {
  font-size: 24px;
  float: right;
}

/* general classes stuff */
/* line 300, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
.container {
  width: 1000px;
  margin: 0 auto;
  padding: 0 50px;
}

/* line 306, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
[class*="rule-"]:before {
  display: block;
  position: absolute;
  background: #4c311c;
  top: 25px;
  bottom: 25px;
  width: 1px;
  content: "";
}

/* line 315, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
.rule-left:before {
  left: 300px;
}

/* line 318, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
.rule-right:before {
  right: 350px;
}

/* line 322, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
form a[class*="toggle-"] {
  float: right;
}

/* line 325, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
form input[class*="toggle-"] {
  display: none;
  margin-left: 110px;
}

/* line 330, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
.clearfix:after, .box:after {
  clear: both;
  display: block;
  content: "";
}

/* line 336, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
img#image-preview, img.feed-img {
  width: 100px;
  height: auto;
  float: right;
  background: black;
  border: 3px solid white;
  margin: 0 0 10px 10px;
  position: relative;
}

/* line 345, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
img#image-preview:hover {
  opacity: 0.25;
}

/* line 349, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
img.feed-img {
  transform: translateY(-25%);
}

/* line 353, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
.image-placeholder {
  min-height: 225px;
  min-width: 225px;
  float: right;
  background: url(/assets/imgborderbg-black-3fc3f23f5d5c132e07260e40c67f1e7a057586b197990b564f4800cb2389fb41.png) no-repeat;
  background-size: contain;
  margin-left: 20px;
}

/* line 361, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
.image-placeholder img {
  height: auto;
  width: 150px;
  opacity: 1;
  display: block;
  margin: 10px auto;
}

/* line 369, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
button.add-to-lists {
  margin-right: 45px;
  clear: right;
  float: right;
  width: auto;
  background: white;
  color: black;
}

/* line 378, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
.category-show-list li {
  position: relative;
  float: left;
  height: 150px;
  width: 100px;
  background: #111;
  overflow: hidden;
  border: 3px solid white;
  margin-right: 10px;
  list-style: none;
}

/* line 389, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
.category-show-list li:after {
  z-index: 1;
  content: attr(title);
  font-size: 14px;
  line-height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  background: black;
  opacity: 0.75;
}

/* line 400, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
.category-show-list li:hover:after {
  color: black;
  background: white;
}

/* line 405, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
.filter-list {
  font-size: 20px;
  list-style: none;
}

/* line 410, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
.bolded {
  font-weight: bold;
}

/* line 414, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
.capitalize {
  text-transform: capitalize;
}

/* tag stuff */
/* line 419, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
button {
  font: 18px 'Montserrat', sans-serif;
  background: black;
  margin: 5px auto;
  padding: 3px 10px;
  color: white;
  text-transform: lowercase;
  font-variant: small-caps;
  display: block;
  width: 50%;
  clear: both;
}

/* line 432, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
label {
  float: left;
  width: 100px;
  text-align: right;
  padding-right: 10px;
}

/* line 439, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
input, select, textarea {
  display: block;
  padding: 3px;
  background: transparent;
  color: white;
  border-bottom: 1px solid #aaa;
  font: 18px 'ChaparralPro', 'Palatino', serif;
  margin-bottom: 10px;
  width: 60%;
}

/* line 449, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
input:focus, select:focus, textarea:focus {
  border-bottom: 1px solid white;
}

/* line 453, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
select option {
  background-color: black;
}

/* line 457, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
input[type="radio"] {
  border: 0;
  padding: 0;
  width: 20px;
  float: left;
}

/* line 463, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
label.radio {
  width: auto;
}

/* line 466, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
label.radio + label:not(.radio) {
  clear: left;
}

/* line 470, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
h1 {
  font: 30px 'Montserrat', sans-serif;
}

/* line 474, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
h2 {
  font: 24px 'ChaparralPro', 'Palatino', serif;
}

/* line 478, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
h1, h2, h3, p {
  margin-bottom: 10px;
}

/* line 482, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
a {
  color: #cc8042;
}

/* line 485, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#signinbox a:hover {
  color: black;
}

/* line 488, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
#content a:hover {
  color: white;
}

/* line 491, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
.wide h1 a {
  color: #999;
}

/* line 494, /Users/Ariel/Desktop/cocktailist/app/assets/stylesheets/application.css.scss */
.wide h1 a:hover {
  color: #cc8042;
}
