<form>
  <% if(!rating.isNew()){ %>
    <p>You reviewed this on <%= rating.escape('time') %>. Feel free to edit it below!</p>
  <% } %>
  <label for="rating">Rating</label>
  <div class="rating">
    <% for(var i = 1; i <= 5; i++){ %>
      <div class="rating-click-box" data-rating="<%= i %>"></div>
    <% } %>
  </div>
  <br class="clearfix">
  <label for="body">Review</label>
  <textarea name="rating[body]" placeholder="comments (optional)"><%= rating.escape('body') %></textarea>
  <ul id="errors"></ul>
  <button class="submitRating">submit</button>

  <% if(!rating.isNew()){ %>
    <a href="javascript: void(0);" class="subtext" id="delete-rating">Delete Rating</a>
  <% } %>
</form>
