<form>
  <% if(!rating.isNew()){ %>
    <p>You already reviewed this on <%= rating.escape('time') %>. Feel free to edit it below!</p>
  <% } %>
  <label for="rating">Rating</label>
    <% for(var i = 1; i<=5; i++){ %>
      <label class="radio">
      <input type="radio" name="rating[rating_num]" value="<%= i %>"
      <% if(rating.get('rating') === i){ %>
        checked
      <% } %>
      > <%= i %>
      </label>
    <% }; %>

  <label for="body">Review</label>
  <textarea name="rating[body]"><%= rating.escape('body') %></textarea>
  <ul id="errors"></ul>
  <button class="submitRating">submit</button>
</form>
