<div class="box">
  <h2><%= rating.escape('username') %> rated it <%= rating.escape('rating') %> stars</h2>
  <p><%= rating.escape('body') %></p>
  <p class="subtext">on <%= rating.escape('time') %></p>
</div>
