<div class="box">
  <h2><%= rating.escape('username') %> rated it <span class="rating"></span></h2>
  <p><%= rating.escape('body') %></p>
  <p class="subtext">on <%= rating.escape('time') %></p>
</div>
