<div class="box" id="rating-<%= rating.id %>">
  <h2><%= rating.escape('username') %> rated it <span class="rating"></span></h2>
  <p><%= rating.escape('body') %></p>
  <p class="subtext capitalize"><%= rating.escape('time') %></p>
</div>
