<div class="left wide">
  <div class="box">
    <h1>Welcome back <%= @user.username %></h1>
  </div>
</div>

<div class="rule-right"></div>

<div class="right bar">
  <div class="box">
  </div>
</div>
