/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  @font-face {
    font-family: 'Montserrat';
    src: font-url("montserrat_reg.otf");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Montserrat';
    src: asset-url("montserrat_bold.otf");
    font-weight: bold;
    font-style: normal;
  }

 @font-face {
   font-family: 'ChaparralPro';
   src: font-url("chaparralpro_reg.otf");
   font-weight: normal;
   font-style: normal;
 }

 @font-face {
   font-family: 'ChaparralPro';
   src: asset-url("chaparralpro_bold.otf");
   font-weight: bold;
   font-style: normal;
 }

 *{
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
 }

 body{
  background: asset-url("contbg.jpg");
  font: 16px 'ChaparralPro', 'Palatino', serif;
  color: #eee;
 }

 a{
   text-decoration: none;
 }

 ul{
   list-style: square inside;
 }

 #window{
    height: 100vh;
    position: relative;
  }

 #main{
    min-height: 100vh;
    position: relative;
    min-width: 1100px;
  }

 /* login page stuff */
.siCont{
  overflow: hidden;
  position: relative;
  top: 10vh;
  height: 390px;
}

 #signinbox{
   width: 300px;
   background: white;
   position: absolute;
   top: 0;
   left: 40%;
   color: black;
   transition: left 500ms linear;
 }

 #signinbox h1{
   text-align: center;
   color: black;
 }

 #signinbox p{
   text-align: center;
   margin: 10px;
 }

 #signinbox strong{
   color: inherit;
 }

 #signinbox input{
   background: asset-url("boxbg.jpg");
   width: 91%;
   padding: 5%;
   color: white;
   margin-left: -1px;
   margin-bottom: 0;
   font: 24px 'Montserrat', sans-serif;
   opacity: 1;
 }

 #signinbox a.button-link{
   font: 18px 'Montserrat', sans-serif;
   background: black;
   color: white;
   text-transform: lowercase;
   font-variant: small-caps;
   display: block;
   clear: both;
   width: 101%;
   margin: 0 -1px;
   padding: 5% 0%;
   text-align: center;
   font-size: 20px;
   border-top: 1px solid #eee;
 }
 #signinbox button{
   width: 101%;
   padding: 5%;
   margin: 0 -1px;
   font-size: 24px;
 }
 #signinbox button:hover, #signinbox a.button-link:hover{
   background: white;
   color: black;
 }

 #signinbox.exit {
   left: 2000px;
   transition: left 500ms linear;
 }

 .flashbox{
   width: 300px;
   background: white;
   padding: 10px;
   position: absolute;
   left: 350px;
   top: 100px;
 }
 .flashbox p.subtext{
   text-align: left;
 }

 /* header area stuff */
#header{
  background: white;
  border-bottom: 1px solid black;
  height: 75px;
  position: relative;
  color: black;
  font: 18px 'ChaparralPro', 'Palatino', serif;
}

#logo{
  float: left;
  padding-top: 23px;
}

#header #search{
  float: left;
  position: relative;
  margin: 48px 0 0 25px;
}
#header #search input{
  font-size: 16px;
  background: transparent;
  border-bottom: 2px solid black;
  width: 150px;
  color: black;
}

#header #user-menu{
  float: right;
  margin: 40px 0 0 30px;
  position: relative;
  display: block;
}

#header #user-menu ul{
  list-style: none;
  font-size: 16px;
  display: none;
  position: absolute;
  z-index: 1;
  width: 100px;
  padding: 5px;
  background: white;
  left: -43px;
}
#header #user-menu ul:after{
  content: "";
  display: none;
  position: absolute;
  top: -10px;
  left: 50px;
  border-bottom: 10px solid white;
  border-top: 0 solid white;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}
#header #user-menu:hover ul,
#header #user-menu:hover ul:after{
  display: block;
}

#header #user-menu ul li:first-child{
  font-size: 14px;
  color: #aaa;
}

#header #nav{
  margin-top: 50px;
  float: right;
  list-style: none;
}

#header #nav li{
  float: left;
  margin-right: 20px;
}
// #header #nav li:last-child a{
#header #nav li a.active{
  font-weight: bold;
  color: #cc8042;
}

#header a, #footer a{
  color: black;
}

#header a:hover, #footer a:hover{
  color: #cc8042;
}

#header a.grayed, #header #nav li:last-child a.grayed{
  color: #ccc;
}


/* content area stuff */
#content{
  border-top: 1px solid #cc8042;
  padding: 10px 0 60px 0;
}

#content .container{
  position: relative;
}

#content .left{
  float: left;
}

#content .right{
  float: right;
}

#content .wide, #content .bar{
  padding: 25px;
}

#content .wide{
  width: 625px;
}
#content .wide .left{
  margin-right: 25px;
}
#content .wide .right{
  margin-left: 25px;
}

#content .bar{
  width: 225px;
}

#content .box{
  background: asset-url("boxbg.jpg");
  margin-bottom: 20px;
  padding: 20px;
  line-height: 200%;
}

#content .header-box{
  background: white;
  color: black;
  padding: 5px 10px;
}

#content .box .header-box{
  margin-left: -20px;
  margin-right: -20px;
}

#content .box .header-box a:hover{
  color: black;
}

.bar h1{
  font-size: 24px;
}

.bar h2{
  font-size: 20px;
}

.bar ul{
  list-style: none;
}
.bar ul li:first-letter{
  text-transform: uppercase;
}

#bar-map{
  width: 180px;
  height: 200px;
  float: left;
  margin-right: 15px;
  border: 5px solid #aaa;
}

#bar-map.wide-map{
  width: calc(100% - 10px);
}

.bar-info ul{
  list-style: none;
  margin: 0;
  line-height: 100%;
  text-transform: lowercase;
  font-variant: small-caps;
}

.bar-info .first-word{
  display: inline-block;
  width: 25px;
  text-align: right;
}

#signinbox{
  margin-top: 20px;
}

/* footer area stuff */
#footer{
  border-top: 1px solid #130503;
  background: white;
  height: 50px;
  color: black;
  bottom: 0;
  position: absolute;
  width: 100%;
}

#footer *{
  padding-top: 5px;
}

#footer p{
  float: left;
  font-size: 14px;
}

#footer a.toplink{
  font-size: 24px;
  float: right;
}

/* general classes stuff */
.container{
  width: 1000px;
  margin: 0 auto;
  padding: 0 50px;
}

[class*="rule-"]:before{
  display: block;
  position: absolute;
  background: #4c311c;
  top: 25px;
  bottom: 25px;
  width: 1px;
  content: "";
}
.rule-left:before{
  left: 350px;
}
.rule-right:before{
  right: 350px;
}

form a[class*="toggle-"]{
  float: right;
}
form input[class*="toggle-"]{
  display: none;
  margin-left: 110px;
}
form input[class*="toggle-"].display{
  display: block;
}

.clearfix:after, .box:after{
  clear: both;
  display: block;
  content: "";
}

img#image-preview, img.feed-img{
  width: 100px;
  height: auto;
  float: right;
  background: black;
  border: 3px solid white;
  margin: 0 0 10px 10px;
  position: relative;
}
img#image-preview:hover{
  opacity: 0.25;
}

img.feed-img{
  transform: translateY(-25%);
}

.image-placeholder{
  min-height: 225px;
  min-width: 225px;
  float: right;
  background: asset-url("imgborderbg-black.png") no-repeat;
  background-size: contain;
  margin-left: 20px;
}
.image-placeholder img{
  height: auto;
  width: 150px;
  opacity: 1;
  display: block;
  margin: 10px auto;
}

#delete-rating{
  float: right;
}

.user-stats{
  text-align: center;
  clear: right;
  float: right;
  width: 225px;
}

.user-stats select.add-to-lists{
  margin: 0 auto;
  width: auto;
  background: white;
  color: black;
  text-transform: capitalize;
}
.user-stats select.add-to-lists option{
  background: white;
}

.category-show-list li{
  position: relative;
  float: left;
  height: 150px;
  width: 100px;
  background: #111;
  overflow: hidden;
  border: 3px solid #aaa;
  margin-right: 12px;
  margin-bottom: 15px;
  list-style: none;
}
.category-show-list li:nth-child(5n){
  margin-right: 0;
}
.category-show-list li:hover{
  border-color: white;
}
.category-show-list li:after{
  z-index: 1;
  content: attr(title);
  font-size: 14px;
  line-height: normal;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #aaa;
  background: black;
  opacity: 0.75;
}
.category-show-list li:hover:after{
  color: white;
}

.category-show-list li.standalone{
  margin-left: 30px;
}

.category-show-list li img{
  width: 100px;
}

.filter-list{
  font-size: 20px;
  list-style: none;
}
.filter-list.small{
  font-size: 16px;
}

input.side-input{
  width: 80%;
  display: inline-block;
}

a.remove-item, a.remove-list{
  display: block;
  float: right;
  opacity: 0;
}
li:hover a.remove-list, .box:hover a.remove-item{
  opacity: 1;
}
#content a.remove-item:hover{
  color: black;
}

.bolded{
  font-weight: bold;
  color: white;
}

.capitalize{
  text-transform: capitalize;
}

.subtext{
  color: #aaa;
}

/* tag stuff */
button{
  font: 18px 'Montserrat', sans-serif;
  background: black;
  margin: 5px auto;
  padding: 3px 10px;
  color: white;
  text-transform: lowercase;
  font-variant: small-caps;
  display: block;
  width: 50%;
  clear: both;
}

label{
  float: left;
  width: 100px;
  text-align: right;
  padding-right: 10px;
}

input, select, textarea{
  display: block;
  padding: 3px;
  background: transparent;
  color: white;
  border-bottom: 1px solid #aaa;
  font: 18px 'ChaparralPro', 'Palatino', serif;
  margin-bottom: 10px;
  width: 60%;
}
input:focus, select:focus, textarea:focus{
  border-bottom: 1px solid white;
}

button[disabled]{
  background: #333;
  color: #bbb;
}

textarea{
  height: 70px;
  background: #0E0807;
}

.cocktailForm select option{
  background-color: black;
}

input[type="radio"]{
  border: 0;
  padding: 0;
  width: 20px;
  float: left;
}
label.radio{
  width: auto;
}
label.radio+label:not(.radio){
  clear: left;
}

h1{
  font: 30px 'Montserrat', sans-serif;
}

h2{
  font: 24px 'ChaparralPro', 'Palatino', serif;
}

.bar h3{
  font-weight: normal;
}

h1, h2, h3, strong{
  color: white;
}

h1, h2, h3, p{
  margin-bottom: 10px;
}

a{
  color: #cc8042;
}
#content a:hover{
  color: white;
}
#signinbox a:hover{
  color: black;
}
.wide h1 a{
  color: #999;
}
.wide h1 a:hover{
  color: #cc8042;
}
