@font-face {
  font-family: 'Montserrat';
  src: font-url("montserrat_reg.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: asset-url("montserrat_bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
 font-family: 'ChaparralPro';
 src: font-url("chaparralpro_reg.otf");
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'ChaparralPro';
 src: asset-url("chaparralpro_bold.otf");
 font-weight: bold;
 font-style: normal;
}
