.modal{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  opacity: 1;
  pointer-events: auto;

  > div {
    width: 400px;
    position: relative;
    margin: 15% auto;
    text-align: left;
    background: rgba(0, 0, 0, 1);

    .modal-padding{
      padding: 10px;
    }
  }
}
