<div class="left bar">
  <div class="box">
    <h1><a href="javascript: void(0);" id="add-list">Create List</a></h1>
  </div>

  <div class="box" id="sticky">
    <h1>Your Lists</h1>
    <ul class="filter-list">

    </ul>
    <p class="subtext">(double click to edit name)</p>
  </div>
  <div id="sticky-trigger"></div>
</div>

<div class="rule-left"></div>

<div class="right wide">

</div>
