<div class="left bar">
  <div class="box">
    <h1><a href="javascript: void(0);" id="add-list">Create List</a></h1>
  </div>

  <div class="box" id="sticky">
    <h1>Your Lists</h1>
    <ul class="filter-list">

    </ul>
    <p class="subtext">(double click to edit name)</p>
    <a class="under-box-link scrollToTop" href="javascript:void(0);">back to top</a>
  </div>
  <div id="sticky-trigger"></div>

  <div class="modal confirm-list-delete">
    <div>
      <div class="modal-padding">
        <h1>Confirm</h1>
        <p>
          Are you sure you want to delete <strong></strong>?
        </p>
      </div>
      <a class="confirm-list-delete button-link"
        href="javascript:void(0);">Confirm</a>
      <a class="cancel-confirm-delete button-link subtext"
        href="javascript:void(0);">Cancel</a>
    </div>
  </div>
</div>

<div class="rule-left"></div>

<div class="right wide">

</div>
