<div class="left bar">
  <div class="box">
    <h1><a href="javascript: void(0);" id="add-list">Create List</a></h1>
  </div>

  <div class="box">
    <h1>Your Lists</h1>
    <ul class="filter-list">
    </ul>
  </div>
</div>

<div class="rule-left"></div>

<div class="right wide">
  <h1><%= list.escape('name') %></h1>
  <% if(list.listitems().length > 0){ %>
    <% list.listitems().each( function (listitem){%>
      <div class="box">
        <h1><%= listitem.escape('cocktail') %></h1>
      </div>
    <% }); %>
  <% } else { %>
    <h2>This list is empty!</h2>
  <% }; %>
</div>
