<% feedItems.each(function (feedItem){ %>
<div class="box">
  <h2><%= feedItem.escape('username') %> <%= feedItem.escape('activity') %></h2>
  <h1><%= feedItem.escape('cocktailName') %></h1>
  <p>Filler</p>
  <p class="subtext">@ <%= feedItem.escape('created_at') %></p>
</div>
<% }); %>
