  <div class="box">
    <h1><a href="javascript:void(0);" class="addEntry">Add Entry</a></h1>
  </div>
  <div class="box">
    <h1>My Lists</h1>
    <p>(placeholder for my lists subview)</p>
  </div>
  <div class="box">
    <h1>Random Browse</h1>
    <p>(placeholder for browse subview)</p>
  </div>
